/* shared style */
* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.btn {
  padding:  12px 16px;
  border: none;
  border-radius: 4px;
  color: white;
  background-color: #30B868;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}
/* main style start */

header{
max-width: 1600px;
}

/* nav style */
header nav{
  margin: 0 120px ;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .logo{
  margin: 16px 0;
}

nav .menu {
  list-style: none;
  display: flex;
  justify-content: space-between;
  gap: 32px;
  font-size: 16px;
  font-weight: 500;
}

nav .menu li a{
  text-decoration: none;
  color: #000000;
}

/* banner style */
#banner {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.275)) , url("../assets/hero-bg.png");
  /* set position */
}

.banner-container {
  padding: 120px 70px 120px 134px;
  text-align: center;
  color: white;
}

.btn-2 {
  padding: 8px 12px;
  border: none;
  border-radius: 50px;
  background-color: white;
  color: #30B868;
  gap: 6px;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 16px;
  cursor: pointer;
}

.banner-container h1 {
  text-align: center;
  font-size: 72px;
  font-weight: 700;
  line-height: 84px;
  opacity: 90%;
  margin-bottom: 16px;
}

.banner-container p {
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 32px;
  font-weight: 400;
}

.btn-3 {
  padding:  12px 16px;
  border: 1px solid ;
  border-radius: 4px;
  color: white;
  background-color:unset ;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

.align-btn {
  display: flex;
  justify-content: center;
  gap: 16px;
}








