/* shared style */
* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.btn {
  padding:  12px 16px;
  border: none;
  border-radius: 4px;
  color: white;
  background-color: #30B868;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

.section-heading {
  font-size: 48px;
  font-weight: 700;
  color: #001931;
  margin-bottom: 16px;
}

.text {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #627382;
  margin-bottom: 44px;
}
/* main style start */

header{
max-width: 1600px;
}

/* nav style */
header nav{
  margin: 0 120px ;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .logo{
  margin: 16px 0;
}

nav .menu {
  list-style: none;
  display: flex;
  justify-content: space-between;
  gap: 32px;
  font-size: 16px;
  font-weight: 500;
}

nav .menu li a{
  text-decoration: none;
  color: #000000;
}

/* banner style */
#banner {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.275)) , url("../assets/hero-bg.png");
  margin-bottom: 134px;
}

.banner-container {
  padding: 120px 70px 120px 134px;
  text-align: center;
  color: white;
}

.btn-2 {
  padding: 8px 12px;
  border: none;
  border-radius: 50px;
  background-color: white;
  color: #30B868;
  gap: 6px;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 16px;
  cursor: pointer;
}

.banner-container h1 {
  text-align: center;
  font-size: 72px;
  font-weight: 700;
  line-height: 84px;
  opacity: 90%;
  margin-bottom: 16px;
}

.banner-container p {
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 32px;
  font-weight: 400;
}

.btn-3 {
  padding:  12px 16px;
  border: 1px solid ;
  border-radius: 4px;
  color: white;
  background-color:unset ;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

.align-btn {
  display: flex;
  justify-content: center;
  gap: 16px;
}


/* notes style */
#notes {
  padding: 0 120px;
  text-align: center;
}


.notes-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}

.notes-card-info {
  padding: 24px 24px;
  border-radius: 8px;
  box-shadow: 0px 0px 8px rgba(6, 6, 6, 0.136);
  text-align: center;
}

.notes-card-info img {
  background-color: #F95555;
  border-radius: 50%;
  width: 32px;
  padding: 10px;
  margin-bottom: 16px;
}

.notes-card-info h4{
  font-size: 24px;
  font-weight: 600;
  color: #001931;
  margin-bottom: 16px;
}


/* brain style */
#brain {
  padding: 120px;
}

.brain-container {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 60px;
  max-width: 1360px;
}

.brain-content h6 {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  color: #30B868;
  margin-bottom: 16px;
}

.brain-content p {
  margin-bottom: 16px;
}

.check-list {
  list-style: none;
  justify-content: space-between;
  align-items: center;

}

.check-list li {
  font-size: 16px;
  font-weight: 500;
  color: #001931;
  line-height: 20px;
  margin-bottom: 16px;
}

.check-list li i {
  color: #30B868;

}


/* early access */
#early-access {
  padding: 2px 120px 120px ;
}

.early-access-content {
  text-align: center;
  background-color: #F7F6F2;
  padding: 80px 40px;
  border-radius: 12px;
  gap: 24px;
}

.early-access-content p {
  margin-bottom: 24px;
}

.early-access-content button {
  margin-bottom: 16px;
}

.early-access-content .text-1 {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #627382;
  margin-bottom: 0px;
}

/* footer style */
#footer {
  padding: 120px 120px 0px 120px;
  background-color: #001931;
}

.footer-container { 
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  margin-bottom: 80px;
}

.social-title {
  font: 20px;
  font-weight: 500;
  line-height: 28px;
  margin-bottom: 16px;
}

.social-icon {
  list-style: none;
  display: flex;
  justify-content: left;
  gap: 16px;
}

.social-icon li a {
  color: #001931;
  border-radius: 100%;
  background-color: #ffffff;
}

.copyright hr{
  color: #E5E7EB;
  opacity: 40%;
  margin-bottom: 30px;
}

.copyright p {
  color: white;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  padding-bottom: 28px;
}